# D599 Data Preparation and Exploration

### Task 3 Market Basket Analysis

### Introduction
***
Throughout your career in data analysis, you will be asked to identify patterns, trends, and correlations that offer valuable insights into a company’s business performance and customer preferences.


In this task, you will serve as a data analyst who has been asked to prepare and explore transactional data for an international retail store named Allias Megastore. This company wants to better understand its customers’ characteristics so it can more effectively target products and marketing campaigns toward its shoppers—thus resulting in improved profits for the company in the long term.


You will be given a dataset and an overview, including a data dictionary, and will be asked to perform market basket analysis to identify key associations of customer purchases—ultimately ensuring better business and strategic decision-making.

### Scenario
***
Allias Megastore Project Overview

In the retail industry, data can provide a broad range of information. Specifically, a sales dataset is an important resource for companies to gain insights into aspects of consumer behavior and retail operations in an increasingly competitive marketplace.

Each entry in the provided Allias Megastore dataset represents a specific sale or order. The data includes essential details, such as the product purchased, the customer involved, the date of the transaction, and the geographic location of the sale. By analyzing this data, analysts can uncover patterns, trends, and correlations that offer valuable insights into the Megastore’s business performance and customer preferences.

Key components of the Allias dataset are its product, customer, geographic, and supply chain data. By analyzing product sales, customer behavior, geographic trends, and supply chain dynamics, the Allias corporation can gain valuable insights into its operations, identify areas for improvement, and implement targeted strategies to drive growth and success. This kind of analysis can impact and drive strategic decision-making and improve retail business performance.

As a data analyst for Allias, you have been asked to analyze the clean dataset to explore the sales data, identify trends, and compare key metrics. The dataset contains information about sales transactions from the Allias retail corporation. It includes details about products, customers, orders, and sales across different regions and product categories.

### Data Dictionary
***
Key columns in Allias Megastore tables include the following (the format is "Column Name: Description"):

1.	Order ID: A unique identifier for each sales order
2.	Customer ID: A unique identifier for each customer
3.	Product Name: The name of the product
4.	Quantity: The quantity of the product sold
5.	Invoice Date: The date the item was ordered and invoiced
6.	Unit Price: The cost of the item
7.	Total Cost: The total cost of the item purchased based on quantity
8.	Country: The country of the customer's location
9.	Discount Applied: The discount applied to the order
10.	Order Priority: The priority of the order
11.	Region: The regions of the customer's location
12.	Segment: The market segment to which the customer belongs
13.	Expedited Shipping: A delivery option for faster shipping  
14.	Payment Method: Payment method for order
15.	Customer Satisfaction: Customer level of satisfaction with the order: 

    a.	Very Satisfied=4

    b.	Satisfied = 3

    c.	Very dissatisfied = 2

    d.	Dissatisfied = 1

    e.	Prefer to not respond = 0

## Part 1: Research Question
***

A.  Describe the purpose of your report by doing the following:

1.  Propose one question relevant to a real-world organizational situation that you will answer using market basket analysis.

2.  Define one goal of the data analysis. Ensure your goal is reasonable within the scope of the provided scenario and is represented in the available data.

***
### A1. Proposed Question:

What combinations of products are most frequently purchased together by customers in the Corporate segment from the Northeast region, and how can these insights be used to create effective product bundling strategies?

This question reflects a real-world business challenge: Allias Megastore wants to increase revenue through targeted marketing. Market basket analysis will allow us to uncover associations between products that are commonly bought together, especially for a high-value customer segment. Understanding which items co-occur can inform bundle offers, cross-selling tactics, and layout optimization (both in-store and online).

### A2. Goal of the Data Analysis:

The goal of this analysis is to identify frequent product pairings and associations in customer transactions, with a focus on high-priority orders within the Corporate market segment. These insights will be used to recommend specific product bundles or promotions aimed at increasing average order value and improving marketing efficiency.

This goal is:

•	Actionable – It helps the company create bundle promotions.

•	Relevant – It aligns with the business’s intent to improve strategic decision-making and profitability.

•	Supported by the data – The dataset includes product names, customer segments, order priority, region, and more—all necessary for meaningful market basket analysis.

## Part II: Market Basket Justification
***


B.  Explain the reasons for using market basket analysis by doing the following:

1.  Explain how the market basket technique analyzes the provided dataset, including expected outcomes.

2.  Provide one example of a transaction in the dataset.

3.  Summarize one assumption of market basket analysis.

***

### B1. Explanation of Technique and Expected Outcomes:

Market basket analysis (MBA) is a data mining technique used to discover patterns and relationships between items that customers frequently purchase together. It examines transaction-level data, where each transaction contains one or more items, and identifies product combinations (itemsets) that occur with significant frequency (WGU,ND).

In the context of the Allias Megastore dataset:

•	Each Order ID represents a transaction.
•	Each product listed under the same Order ID is considered part of a “basket.”
•	MBA will analyze these baskets to generate association rules such as:

{“INFLATABLE POLITICAL GLOBE”, “RED RETROSPOT TEA TOWELS”} → “STARS GIFT TAPE”
This means that customers who purchase the first two items are likely to purchase the third.

Expected outcomes include:

•	Frequent itemsets (popular product combinations)
•	Association rules with support, confidence, and lift values
•	Recommendations for cross-selling, promotional bundles, and improved product placement strategies

### B2. Example Transaction:

Order ID: 536370

Products in the transaction (basket):

•	INFLATABLE POLITICAL GLOBE
•	SET2 RED RETROSPOT TEA TOWELS
•	PANDA AND BUNNIES STICKER SHEET
•	RED TOADSTOOL LED NIGHT LIGHT
•	VINTAGE HEADS AND TAILS CARD GAME
•	STARS GIFT TAPE
•	VINTAGE SEASIDE JIGSAW PUZZLES
•	ROUND SNACK BOXES SET OF4 WOODLAND
•	MINI PAINT SET VINTAGE
•	MINI JIGSAW CIRCUS PARADE

This transaction represents a multi-item purchase, ideal for identifying product pairings through MBA.

### B3. One Assumption of Market Basket Analysis:

One key assumption of market basket analysis is:

•	The presence of one item in a transaction influences the likelihood of another item being purchased. 

This assumption underpins the idea of discovering associative patterns, not causation. It assumes that observed co-occurrences imply a consistent consumer buying behavior, which businesses can use for targeted strategies, even if no direct causal relationship exists.

# Part III: Data Preparation and Analysis
***

C.  Prepare the dataset for further analysis by doing the following:

1.  Wrangle (i.e., transform) data by doing the following:

a.  Select x number of categorical variables, choosing at least two ordinal variables and at least two nominal variables.

b.  Perform the appropriate encoding method (ordinal, label encoding, one-hot encoding) for each variable selected in part C1a.

c.  Transactionalize the data for market basket analysis.

d.  Explain and justify each step you took in parts C1a, C1b, and C1c.

2.  Include a copy of the cleaned dataset.

3.  Execute the code used to generate association rules with the Apriori algorithm. Provide a screenshot that demonstrates that the code is error-free.

4.  Provide values for the support, lift, and confidence of the association rules table. Include a screenshot of the values.

5.  Explain the top three relevant rules generated by the Apriori algorithm. Include a screenshot of the top three relevant rules.

***

##### Load the Dataset

In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv("Megastore_Dataset_Task_3 3.csv")

# Display the first few rows
df.head()

,OrderID,ProductName,Quantity,InvoiceDate,UnitPrice,TotalCost,Country,DiscountApplied,OrderPriority,Region,Segment,ExpeditedShipping,PaymentMethod,CustomerOrderSatisfaction
0,536370,INFLATABLE POLITICAL GLOBE,48,12/1/2010 8:45,$0.85,$40.80,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
1,536370,SET2 RED RETROSPOT TEA TOWELS,18,12/1/2010 8:45,$2.95,$53.10,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
2,536370,PANDA AND BUNNIES STICKER SHEET,12,12/1/2010 8:45,$0.85,$10.20,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
3,536370,RED TOADSTOOL LED NIGHT LIGHT,24,12/1/2010 8:45,$1.65,$39.60,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied
4,536370,VINTAGE HEADS AND TAILS CARD GAME,24,12/1/2010 8:45,$1.25,$30.00,United States,Yes,High,Northeast,Corporate,Yes,Credit Card,Satisfied

#### C1a.Select ordinal and nominal variables

In [2]:
# Get summary of data types and non-null counts
df.info()

# Get a look at the unique values and datatypes
df.describe(include='all').T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8234 entries, 0 to 8233
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   OrderID                    8234 non-null   int64
 1   ProductName                8234 non-null   object
 2   Quantity                   8234 non-null   int64
 3   InvoiceDate                8234 non-null   object
 4   UnitPrice                  8234 non-null   object
 5   TotalCost                  8234 non-null   object
 6   Country                    8234 non-null   object
 7   DiscountApplied            8234 non-null   object
 8   OrderPriority              8234 non-null   object
 9   Region                     8234 non-null   object
 10  Segment                    8234 non-null   object
 11  ExpeditedShipping          8234 non-null   object
 12  PaymentMethod              8234 non-null   object
 13  CustomerOrderSatisfaction  8234 non-null   object
dtypes: int64(2), object(12)
memory usage: 900.7+ KB

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
OrderID,8234.0,NaN,NaN,NaN,560874.506923,13082.500625,536370.0,549274.0,563502.0,571864.0,581587.0
ProductName,8234,1562,RABBIT NIGHT LIGHT,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Quantity,8234.0,NaN,NaN,NaN,13.705125,21.494536,1.0,6.0,10.0,12.0,912.0
InvoiceDate,8234,441,10/11/2011 14:52,259,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UnitPrice,8234,86,$1.65,1033,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TotalCost,8234,443,$15.00,596,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,8234,1,United States,8234,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DiscountApplied,8234,2,No,8215,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OrderPriority,8234,2,High,4320,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Region,8234,2,Northeast,4768,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Segment,8234,2,Consumer,4166,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ExpeditedShipping,8234,2,Yes,4295,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PaymentMethod,8234,2,PayPal,4480,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CustomerOrderSatisfaction,8234,5,Prefer not to answer,1880,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### C1b. Encoding methods

In [3]:
# check all unique valies in the OrderPriority column
df['OrderPriority'].unique()

array(['High', 'Medium'], dtype=object)

### Ordinal Encoding

In [5]:
from sklearn.preprocessing import OrdinalEncoder

# Define the correct order based on actual unique values
order_priority_order = ['Medium', 'High']  # Medium is lower priority than High
satisfaction_order = ['Very Dissatisfied', 'Dissatisfied', 'Neutral', 'Satisfied', 'Very Satisfied', 'Prefer not to answer']

# Instantiate the encoder with the updated category orders
ordinal_encoder = OrdinalEncoder(categories=[order_priority_order, satisfaction_order])

# Apply encoding
df[['OrderPriority_Encoded', 'Satisfaction_Encoded']] = ordinal_encoder.fit_transform(
    df[['OrderPriority', 'CustomerOrderSatisfaction']]
)

### One-Hot Encoding

In [6]:
# One-hot encode the nominal variables: Segment and PaymentMethod
df_encoded = pd.get_dummies(df, columns=['Segment', 'PaymentMethod'], prefix=['Segment', 'Payment'])

In [ ]:
# view first few rows of encoded data fram to confirm encoding
df_encoded.head(10)

,OrderID,ProductName,Quantity,InvoiceDate,UnitPrice,TotalCost,Country,DiscountApplied,OrderPriority,Region,ExpeditedShipping,CustomerOrderSatisfaction,OrderPriority_Encoded,Satisfaction_Encoded,Segment_Consumer,Segment_Corporate,Payment_Credit Card,Payment_PayPal
0,536370,INFLATABLE POLITICAL GLOBE,48,12/1/2010 8:45,$0.85,$40.80,United States,Yes,High,Northeast,Yes,Satisfied,1.0,3.0,False,True,True,False
1,536370,SET2 RED RETROSPOT TEA TOWELS,18,12/1/2010 8:45,$2.95,$53.10,United States,Yes,High,Northeast,Yes,Satisfied,1.0,3.0,False,True,True,False
2,536370,PANDA AND BUNNIES STICKER SHEET,12,12/1/2010 8:45,$0.85,$10.20,United States,Yes,High,Northeast,Yes,Satisfied,1.0,3.0,False,True,True,False
3,536370,RED TOADSTOOL LED NIGHT LIGHT,24,12/1/2010 8:45,$1.65,$39.60,United States,Yes,High,Northeast,Yes,Satisfied,1.0,3.0,False,True,True,False
4,536370,VINTAGE HEADS AND TAILS CARD GAME,24,12/1/2010 8:45,$1.25,$30.00,United States,Yes,High,Northeast,Yes,Satisfied,1.0,3.0,False,True,True,False
5,536370,STARS GIFT TAPE,24,12/1/2010 8:45,$0.65,$15.60,United States,Yes,High,Northeast,Yes,Satisfied,1.0,3.0,False,True,True,False
6,536370,VINTAGE SEASIDE JIGSAW PUZZLES,12,12/1/2010 8:45,$3.75,$45.00,United States,Yes,High,Northeast,Yes,Satisfied,1.0,3.0,False,True,True,False
7,536370,ROUND SNACK BOXES SET OF4 WOODLAND,24,12/1/2010 8:45,$2.95,$70.80,United States,Yes,High,Northeast,Yes,Satisfied,1.0,3.0,False,True,True,False
8,536370,MINI PAINT SET VINTAGE,36,12/1/2010 8:45,$0.65,$23.40,United States,Yes,High,Northeast,Yes,Satisfied,1.0,3.0,False,True,True,False
9,536370,MINI JIGSAW CIRCUS PARADE,24,12/1/2010 8:45,$0.42,$10.08,United States,Yes,High,Northeast,Yes,Satisfied,1.0,3.0,False,True,True,False

### C1c. Transactionalizing Data

In [8]:
# Group by OrderID and aggregate ProductNames
transactional_data = df.groupby('OrderID')['ProductName'].apply(list).reset_index()

# View list of products per order
transactional_data.head(10)

   OrderID                                        ProductName
0   536370  [INFLATABLE POLITICAL GLOBE , SET2 RED RETROSP...
1   536852  [POLKADOT RAIN HAT , VINTAGE HEADS AND TAILS C...
2   536974  [EDWARDIAN PARASOL RED, LUNCH BAG RED RETROSPO...
3   537065  [PARTY TIME PENCIL ERASERS, RED RETROSPOT PURS...
4   537463  [PINK POLKADOT CHILDRENS UMBRELLA, RED RETROSP...
5   537468  [LUNCH BAG RED RETROSPOT, RETROSPOT HEART HOT ...
6   537693  [BLUE SCANDINAVIAN PAISLEY WRAP, VINTAGE CARAV...
7   537893  [SILK PURSE BABUSHKA BLUE, DOLLY GIRL LUNCH BO...
8   537897  [DOORMAT RED RETROSPOT, FAWN BLUE HOT WATER BO...
9   537967  [RED RETROSPOT CAKE STAND, RECIPE BOX RETROSPOT ]

### C2. Copy of cleaned Dataset

In [10]:
# Save the cleaned dataset to a CSV file in your current directory
df_encoded.to_csv('cleaned_dataset.csv', index=False)

### C3. Generate association rules

In [13]:
# Keep only columns where all values are 0 or 1
df_apriori_ready = df_encoded.loc[:, df_encoded.applymap(lambda x: x in [0, 1]).all()]

# run Apriori
from mlxtend.frequent_patterns import apriori, association_rules

frequent_itemsets = apriori(df_apriori_ready, min_support=0.01, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)

rules.head()

C:\Users\Natos\AppData\Local\Temp\ipykernel_18776\4155682544.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_apriori_ready = df_encoded.loc[:, df_encoded.applymap(lambda x: x in [0, 1]).all()]
C:\Users\Natos\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(OrderPriority_Encoded),(Segment_Corporate),0.524654,0.494049,0.280058,0.533796,1.080452,1.0,0.020854,1.085257,0.156647,0.379152,0.078559,0.550330
1,(Segment_Corporate),(OrderPriority_Encoded),0.494049,0.524654,0.280058,0.566863,1.080452,1.0,0.020854,1.097451,0.147171,0.379152,0.088797,0.550330
2,(OrderPriority_Encoded),(Payment_PayPal),0.524654,0.544085,0.307991,0.587037,1.078943,1.0,0.022535,1.104008,0.153923,0.404853,0.094210,0.576554
3,(Payment_PayPal),(OrderPriority_Encoded),0.544085,0.524654,0.307991,0.566071,1.078943,1.0,0.022535,1.095448,0.160483,0.404853,0.087131,0.576554
4,(Segment_Consumer),(Payment_PayPal),0.505951,0.544085,0.289896,0.572972,1.053091,1.0,0.014615,1.067645,0.102044,0.381371,0.063359,0.552892

### C5: Top three Relevant Rules

In [14]:
# Sort rules by confidence, support, and lift (you can change the sorting metric as needed)
top_rules = rules.sort_values(by=['confidence', 'lift', 'support'], ascending=False).head(3)

# Display top 3 rules
top_rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]

,antecedents,consequents,support,confidence,lift
14,"(Payment_PayPal, Segment_Corporate)",(OrderPriority_Encoded),0.162497,0.639274,1.218468
8,"(Segment_Consumer, OrderPriority_Encoded)",(Payment_PayPal),0.145494,0.594836,1.093277
2,(OrderPriority_Encoded),(Payment_PayPal),0.307991,0.587037,1.078943